.jumbotron {
  padding-top: 6rem;
  background-color: #81ee8f;
}

#projects {
  background-color: #81ee8f;
}

section {
  padding-top: 5rem;
}

.galerry-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
